DATABASE_URL="postgresql://postgres:postgres@localhost:5432/juris_concursos"
NEXTAUTH_SECRET="your-secret-key-change-in-production-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# IA (Gemini API)
GEMINI_API_KEY="sua_chave_do_google_ai_aqui"

# E-mail (Resend)
RESEND_API_KEY="re_sua_chave_do_resend_aqui"
SMTP_FROM="Juris Concursos <nao-responder@jurisconcursos.com.br>"
